<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>test</title>
	{% endif %}
	<base href="/emmapt/">

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Foudnation styling (don't know what normalize, and modernizr do) -->
	<link rel="stylesheet" type="text/css" href="static/foundation.css">
	<link rel="stylesheet" type="text/css" href="static/normalize.css">
	<script src="static/js/vendor/modernizr.js"></script>

	<!-- General site styles -->
	<link rel="stylesheet" type="text/css" href="static/app.css">
	
	<!-- 
	Globally available Javascript libraries: jQuery, Foundation.
	Note that Foundation
	-->
	<script src="static/js/vendor/jquery.js"></script>
	<script src="static/js/foundation.min.js"></script>

</head>
<body>
	<!-- Header -->
	<div class="contained-to-grid">  <!-- Change class to fixed for floating menu -->
	  <nav class="top-bar" data-topbar="">
	    <ul class="title-area">
	      <li class="name">
	        <h1><a href="/emmapt">emmapt</a></h1>
	      </li>
	      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

	    </ul>

<!-- 	    <div class="row">
	    	<div class="coluns">
	    		

	    	</div>
	    </div>
 -->
	    <section class="top-bar-section">
	      <ul class="right">
	        <!-- <li><a href="/emmapt/problems">problems</a></li> -->
	        <!-- <li><a href="/emmapt/docs">docs</a></li> -->
	        <li><a href="/emmapt/about">about</a></li>

	        <!-- <li class="active"><a href="#">Right button active</a></li> -->

	        <!-- Dropdown button -->
	        <!-- <li class="has-dropdown"> -->
	          <!-- <a href="/emmapt/about">about</a> -->
	          <!-- <ul class="dropdown"> -->
	            <!-- <li><a href="/emmapt/project_description">project description</a></li> -->
	            <!-- <li><a href="/emmapt/benchmarks">benchmarks</a></li> -->
	          <!-- </ul> -->
	        <!-- </li> -->

	      </ul>

	     <ul class="left">
	      <li><a href="/emmapt/browse">browse</a></li>
	      <!-- <li><a href="/emmapt/browse">browse</a></li> -->
	      <!-- <li><a href="/emmapt/challenges">challenges</a></li> -->
	     </ul> 
	    </section>

	  </nav>
	</div>

	{% block content %}
	{% endblock %}

	<!-- Footer -->

	<footer>
	  <div class="row">
	    <hr />
	    <!-- <p class="nowrap text-center">contact at</h1> -->

	<!--   	<div class="columns medium-3">
	  	    <h1 class="nowrap text-left">Footer</h1>
	  	</div>
	  	<div class="columns medium-3">
	  	    <h1 class="nowrap text-left">Footer</h1>
	  	</div>
	  	<div class="columns medium-3">
	  	    <h1 class="nowrap text-left">Footer</h1>
	  	</div>
	  	<div class="columns medium-3">
	  	    <h1 class="nowrap text-left">Footer</h1>
	  	</div>
	 -->    
	  </div>


	  <div class="row">

	    <!-- <div class="columns medium-4"> -->
	      <!-- <p>contact</p> -->
	    <!-- </div> -->

	    <!-- <div class="columns medium-4"> -->
	      <!-- <p></p> -->
	    <!-- </div> -->

	    <div class="columns medium-12 text-center">
	    	Developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Laboratory</a> at the &nbsp
	    	<a href="http://icahn.mssm.edu/">
	    	  <img src="static/img/225px-MSMC_Icahn.jpg" class="Icahn-logo">
	    	</a>

	      <!-- <p>afilliations</p> -->
	      affiliated with the
	      <a href="http://lincs-dcic.org/">
	        <img src="static/img/DCIC_1000x750.png" class="DCIC-logo">
	      </a>
	      and supported by the
	      <a href="http://www.lincsproject.org/">
	        <img src="static/img/NIH_LINCS.gif" class="LINCS-logo">
	      </a>

	      <!-- <a href="http://lincs.hms.harvard.edu/"> -->
	        <!-- <img src="static/img/hms_lincs-300x232.png" class="logo"> -->
	      <!-- </a> -->
	      <!-- <a href="http://icahn.mssm.edu/"> -->

	      <!-- <br> <br> -->
	      <!-- with support from NIH <a href="http://grants.nih.gov/grants/guide/rfa-files/RFA-HG-14-001.html">RFA-HG-14-001</a>. -->
	      <!-- with support from NIH grant <a href="http://projectreporter.nih.gov/project_info_details.cfm?aid=8935882&icde=26339552">U54HL127624</a>. -->
	      </div>
	  </div>

	</footer>


	<!-- Scripts --> 
	<script>
	  $(document).foundation();
	</script>

</body>
</html>