<table>
  <thead>
    <th>Source</th>
    <th>Disease</th>
    <th>Data</th>
    <th>Features</th>
    <th>Cells/Patients</th>
    <th>Conditions</th>
    <th></th>
  </thead>

  <tbody>
    <tr>
      <td>LINCS BROAD</td>
      <td>Cancer cell line</td>
      <td>LC-MS phosphopeptides (protein)</td>
      <td>1267</td>
      <td>3</td>
      <td>26</td>

      <!-- <td>LINCS P100 (foundation)-CMAP mRNA</td> -->
      <!-- <td>1</td> -->
      <!-- <td>Foundational set of 1267 phospeptides measured my LC-MS matched to gene expression from the Connectivity Map (CMAP)</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="/bdmerge/dtree/d1">view</a></td>
    </tr>
    <tr class="separator">
      <td>CMAP</td>
      <td>Cancer cell line</td>
      <td>DNA microarray (mRNA)</td>
      <td>22944</td>
      <td>3</td>
      <td>25</td>
      <td><a href="/bdmerge_data/archive/set1.zip" download>download</a></td>
    </tr>
    <tr>
      <td>LINCS BROAD</td>
      <td>Cancer cell line</td>
      <td>LC-MS phosphopeptides (protein)</td>
      <td>100</td>
      <td>3</td>
      <td>16</td>

      <!-- <td>LINCS P100 (pilot)-CMAP mRNA</td> -->
      <!-- <td>2</td> -->
      <!-- <td>100 representative phosphopeptides (P100 standard) measured by LC-MS matched to gene expression from the Connectivity Map (CMAP)</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>CMAP</td>
      <td>Cancer cell line</td>
      <td>DNA microarray (mRNA)</td>
      <td>22944</td>
      <td>3</td>
      <td>15</td>
      <td><a href="/bdmerge_data/archive/set2.zip" download>download</a></td>
    </tr>

    
    <tr>
      <td>TCPA</td>
      <td>Cancer cell line</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>186</td>
      <td>251</td>
      <td>1</td>
      <td><a href="#">view</a></td>
      <!-- <td>TCPA RPPA (MDACC)-CCLE mRNA</td> -->
      <!-- <td>12</td> -->
      <!-- <td>251 cancer cell line samples, 186 antibody-based protein measurements. Matched to 96 CCLE cell line measurements of mRNA gene expression.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
    </tr>

    <tr class="separator">
      <td>CCLE</td>
      <td>Cancer cell line</td>
      <td>DNA microarray (mRNA)</td>
      <td>18988</td>
      <td>96</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set12.zip" download>download</a></td>
    </tr>


    <tr>
      <td>CST</td>
      <td>Cancer cell line</td>
      <td>Tandem mass tag (TMT) (protein)</td>
      <td>18546</td>
      <td>31</td>
      <td>1</td>
      <td><a href="#">view</a></td>
      <!-- <td></td> -->
      <!-- <td>CST TMT-CCLE mRNA</td> -->
      <!-- <td>13</td> -->
      <!-- <td>31 cancer cell line samples, 18546 antibody-based protein measurements, specific to post-translational modifications. Matched to 29 CCLE cell line measurements of mRNA gene expression.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
    </tr>

    <tr class="separator">
      <td>CCLE</td>
      <td>Cancer cell line</td>
      <td>DNA microarray (mRNA)</td>
      <td>18901</td>
      <td>29</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set13.zip" download>download</a></td>
    </tr>


    <tr>
      <td>TCPA</td>
      <td>Breast cancer (BRCA)</td>

      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>750</td>
      <td>1</td>
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Breast cancer (BRCA)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>481</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set3.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Colon adenocarcinoma (COAD)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>334</td>
      <td>1</td>
      <!-- <td>TCPA RPPA (COAD)-TCGA mRNA</td> -->
      <!-- <td>4</td> -->
      <!-- <td>334 colon adenocarcinoma (COAD) tumor samples with 190 antibody-based protein measurements. Matched to 118 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Colon adenocarcinoma (COAD)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>118</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set4.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Glioblastoma multiforme (GBM)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>215</td>
      <td>1</td>
      <td><a href="#">view</a></td>

      <!-- <td>5</td> -->
      <!-- <td>215 glioblastoma multiforme (GBM) tumor samples with 190 antibody-based protein measurements. Matched to 188 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Glioblastoma multiforme (GBM)</td>
      <td>DNA microarray (mRNA)</td>
      <td>12042</td>
      <td>188</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set5.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Kidney renal clear cell carcinoma (KIRC)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>454</td>
      <td>1</td>
      <!-- <td>TCPA RPPA (KIRC)-TCGA mRNA</td> -->
      <!-- <td>6</td> -->
      <!-- <td>454 Kidney renal clear cell carcinoma (KIRC) tumor samples with 190 antibody-based protein measurements. Matched to 45 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Kidney renal clear cell carcinoma (KIRC)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>45</td>
      <td>1</td>
      <!-- <td></td> -->
      <td><a href="/bdmerge_data/archive/set6.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Brain lower grade glioma (LGG)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>189</td>
      <td>260</td>
      <td>1</td>
      <!-- <td>TCPA RPPA (LGG)-TCGA mRNA</td> -->
      <!-- <td>7</td> -->
      <!-- <td>260 Brain lower grade glioma (LGG) tumor samples with 189 antibody-based protein measurements. Matched to 26 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Brain lower grade glioma (LGG)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>26</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set7.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Lung adenocarcinoma (LUAD)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>237</td>
      <td>1</td>
      <td><a href="#">view</a></td>
      <!-- <td>TCPA RPPA (LUAD)-TCGA mRNA</td> -->
      <!-- <td>8</td> -->
      <!-- <td>237 Lunc adenocarcinoma (LUAD) tumor samples, 190 antibody-based protein measurements. Matched to 23 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Lung adenocarcinoma (LUAD)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>23</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set8.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Lung squamous cell carcinoma (LUSC)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>195</td>
      <td>190</td>
      <td>1</td>
      <!-- <td>TCPA RPPA (LUSC)-TCGA mRNA</td> -->
      <!-- <td>9</td> -->
      <!-- <td>195 Lunc squamous cell carcinoma (LUSC) tumor samples, 190 antibody-based protein measurements. Matched to 86 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Lung squamous cell carcinoma (LUSC)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>86</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set9.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Rectum adenocarcinoma (READ)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>130</td>
      <td>1</td>
      <!-- <td></td> -->
      <!-- <td>TCPA RPPA (READ)-TCGA mRNA</td> -->
      <!-- <td>10</td> -->
      <!-- <td>130 Rectum adenocarcinoma (READ) tumor samples, 190 antibody-based protein measurements. Matched to 53 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Rectum adenocarcinoma (READ)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>53</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set10.zip" download>download</a></td>
    </tr>

    <tr>
      <td>TCPA</td>
      <td>Uterine corpus endometrioid carcinoma (UCEC)</td>
      <td>Reverse phase protein array (RPPA)</td>
      <td>190</td>
      <td>404</td>
      <td>1</td>

      <!-- <td>TCPA RPPA (UCEC)-TCGA mRNA</td> -->
      <!-- <td>11</td> -->
      <!-- <td>404 Uterine corpus endometrioid carcinoma (UCEC) tumor samples, 190 antibody-based protein measurements. Matched to 49 tumor samples from TCGA with mRNA gene expression measurements.</td> -->
      <!-- <td>DNA microarray mRNA expression</td> -->
      <td><a href="#">view</a></td>
    </tr>

    <tr class="separator">
      <td>TCGA</td>
      <td>Uterine corpus endometrioid carcinoma (UCEC)</td>
      <td>DNA microarray (mRNA)</td>
      <td>17814</td>
      <td>49</td>
      <td>1</td>
      <td><a href="/bdmerge_data/archive/set11.zip" download>download</a></td>
    </tr>


  </tbody>
</table>
