<!-- Footer to be included on certain pages -->

<footer>
  <div class="row">
    <hr />
    <!-- <p class="nowrap text-center">contact at</h1> -->

<!--   	<div class="columns medium-3">
  	    <h1 class="nowrap text-left">Footer</h1>
  	</div>
  	<div class="columns medium-3">
  	    <h1 class="nowrap text-left">Footer</h1>
  	</div>
  	<div class="columns medium-3">
  	    <h1 class="nowrap text-left">Footer</h1>
  	</div>
  	<div class="columns medium-3">
  	    <h1 class="nowrap text-left">Footer</h1>
  	</div>
 -->    
  </div>

  <div class="row">
    <div class="columns medium-4">
      <p>contact</p>
    </div>

    <div class="columns medium-4">
      <p></p>
    </div>

    <div class="columns medium-4">
      <p>afilliations</p>
      <a href="http://lincs-dcic.org/">
        <img src="img/DCIC_1000x750.png" class="logo">
      </a>
      <br>
      <a href="http://www.lincsproject.org/">
        <img src="img/NIH_LINCS.gif" class="logo">
      </a>
      <br>
      <a href="http://lincs.hms.harvard.edu/">
        <img src="img/hms_lincs-300x232.png" class="logo">
      </a>
      <br>
      <a href="http://icahn.mssm.edu/">
        <img src="img/225px-MSMC_Icahn.jpg" class="logo">
      </a>
    </div>
  </div>

</footer>


