{% extends 'base.html' %}

{% block content %}

<form action="runTransform/{{ request_id }}" method="post">
	
<div class="row toprow">
	<div class="small-12 columns content">
		<h1>Pretransform chosen data sets</h1>
		<p>session id: {{ request_id }}</p>
		<!-- Container id for all selections -->
		<div id="options" class="row"></div>

		<button type="submit">pretransform</button>
	</div>
</div>

</form>

<script type="text/javascript">
	var h5input_files = {{ h5input_files | tojson }};  // Jinja2 filter converts to javascript object
	// Loop over each of the (assumed) 2 h5 input files.
	for (var i in h5input_files) {
		$("#options").append(
			$("<div>").attr("class", "columns medium-6")
				.append(renderSingleMethodSelector(["none", "PAGE.r", "X2K.r"], h5input_files[i])
					.attr("class", "panel"))
				// .append(renderMatchSelector(h5input_files[i])
				// 	.attr("class", "panel"))
		);
	}
</script>

{% endblock %}