{% extends 'base.html' %}

{% block content %}


<form action="runMethod/{{ request_id }}" method="post">
	
<div class="row toprow">
	<div class="small-12 columns content">
		<h1>Setup for mutual concordance (MUTCO) analysis</h1>
		<p>session id: {{ request_id }}</p>
		<!-- Container id for all selections -->
		<div id="options" class="row"></div>

		<div class="row">
			<div class="small-6 columns">
				<label>
					Combined signal strength quantile filter. 0-100 where 0 is all and 100 none.
					<input type="number" name="quantile_filter" value="0" />
				</label>
			</div>
		</div>

		<div class="row text-right">
			<button type="submit">run</button>
		</div>

	</div>
</div>

</form>

<script type="text/javascript">
	var h5input_files = {{ h5input_files | tojson }};  // Jinja2 filter converts to javascript object
	// Loop over each of the (assumed) 2 h5 input files.
	for (var i in h5input_files) {
		$("#options").append(
			$("<div>").attr("class", "columns medium-6")
				.append(renderMatchSelector(h5input_files[i])
					.attr("class", "panel"))
				// .append($("<input>")
				// 	.attr("name", "quant_filter")
				// 	.attr("type", "number"))
		);
	}
</script>

{% endblock %}